<mat-toolbar color="primary">
  <span>Application Title</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>...</span>
</mat-toolbar>

<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side">

</mat-sidenav>
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
   <leap-visualizer>

   </leap-visualizer>

  </mat-sidenav-content>
</mat-sidenav-container>



